 html, body {
 	height: 100%;
 	margin: 0;
 }

.bg-img {
    /* Background image */
    background-image: url('assets/water-bg.jpg');
    opacity: 1.8;
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
    margin: 0;
}

/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 40px;
    left: 60px;
}

.main-logo {
	height: 60px;
}

/* Position text in the bottom-left corner */
.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

p {
	font-size: 15px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 65%;
    border: solid #99ffcc 3px;
    border-radius: 12px;

}

.btn {
    width: 90%;
    font-family: 'Montserrat', serif;
 	color: #99ffcc;
 	font-size: 200%;
 	padding: 10px 20px;
	text-transform: uppercase;
    text-decoration: none;

}

.btn:hover {
    color: #F9F3F4;
    /* border: solid #F9F3F4 3px; */

}


 .middle:hover {
 	color: #F9F3F4;
 	border: solid #F9F3F4 3px;

 } 

 /* html, body {
 	margin: 0;
 	padding: 0;
 	height: 100%;
 	width: 100%;
 }

 .intro {
 	height: 100%;
 	width: 100%;
 	margin: auto;
 	background: url(assets/ocean-bg.jpg) no-repeat 50% 50%;
 	display: table;
 	background-size: cover;

 }

 .intro .inner{
 	display: table-cell;
 	vertical-align: middle;
 	width: 100%;
 	max-width: none; 
 }

 .content {
 	max-width: 500px;
 	margin: 0 auto;
 	text-align: center;
 }

 .btn {
 	border: solid #F9F3F4 3px;
 	border-radius: 9px;
    font-family: 'Montserrat', serif;
 	color: #F9F3F4;
 	font-size: 120%;
 	padding: 10px 20px;
 	text-transform: uppercase;
 	text-decoration: none;
 	position: relative;
 	top: 20px;
 }
 
 .btn:hover {
 	color: #99ffcc;
 	border: solid #99ffcc 3px;

 } 




 .main-logo { 	
 	height: 60px;


 }






/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */


